.bg {
    width: 300px;
    height: 220px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.calculator {
    background-image: url("/portifolio/calculator.jpg");
}

.easy {
    background-image: url("/portifolio/easy-bank.jpg");
}

.pokedex {
    background-image: url("/portifolio/pokedex.png");
}

.guardioes {
    background-image: url("/portifolio/guardioes.png");
}

.todo {
    background-image: url("/portifolio/todo-app.jpg");
}

.loopstudio {
    background-image: url("/portifolio/loopstudios.jpg");
}

.cards {
    width: 300px;
    min-height: 400px;
    transition: all .4s;
}

.cards:hover {
    transform: translate(0px, -10px);
}
